
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='hello/res/CSS/style.css')

    title Home
  body
      ul
          li
              a(href='/home') Home

          li
              a(href='/flota') Flota

          li
              a(href='/admin') Administration
    h1= title
    p Welcome to #{title}
    form(method='POST' action='register')
        input(type="text" name="country_code")
        input(type="submit")






